<!DOCTYPE html>
<html>
<head>
    <title>Stock Sentiment Analysis</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            background-color: #f8f9fa;
        }
        h1 {
            margin-bottom: 30px;
        }
        form {
            max-width: 500px;
            margin: auto;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .btn-primary {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Stock Sentiment Analysis</h1>
        <form action="/plot" method="post">
            <div class="form-group">
                <label for="stock_symbol">Select Stock Symbol:</label>
                <select id="stock_symbol" name="stock_symbol" class="form-control">
                    <option value="MSFT">MSFT</option>
                    <option value="AAPL">AAPL</option>
                    <option value="ADBE">ADBE</option>
                    <option value="V">V</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Generate Plot</button>
        </form>
    </div>
</body>
</html>
